  /*CSS Reset*/
* {     
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: auto;
    height: auto;
    margin: 0 auto;
}

.display-flex { 
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

.column {
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.centered-vert {
    align-items: center;
}

.centered-hor {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.rounded {
    border-radius: 10px;
}

.circle {
    border-radius: 50%;
}

.shadow {
    box-shadow: 5px 5px 5px black;
}

.btn {
    color: azure;
    background-color: dodgerblue;
    width: 100px;
    height: 30px;
    font-size: medium;
    border-style: none;
    border: 1px solid black;
}

.display-inline {
    display: inline;
}

.border {
    border: 2px solid black;
}
    /* Master */

.nav-bar {
    background-color: grey;
    width: auto;
    height: 60px;
}

.left-column {
    flex: 3;
    width: 50%;
}

.right-column {
    flex: 2;
    width: 50%;
}

.box {
    width: auto;
}

* {
    margin: 10px;
}

.btn-2 {
    color: black;
    background-color: gold;
    width: 70px;
    height: 30px;
    font-size: smaller;
    border: solid 2px black;
}

.btn-3 {
    color: black;
    background-color: olivedrab;
    width: 90%;
    height: 35px;
    font-size: medium;
    border: solid 1px black;
}
